################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MaBeDi/FileContentIndex
/Api/.vs/MaBeDi/CopilotIndices/17.13.444.19527
/Api/.vs/MaBeDi/FileContentIndex
